USE [master]
GO
/****** Object:  Database [Proyecto_Ing_softw]    Script Date: 28/9/2026 23:39:26 ******/
CREATE DATABASE [Proyecto_Ing_softw]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Proyecto_Ing_softw', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Proyecto_Ing_softw.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Proyecto_Ing_softw_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Proyecto_Ing_softw_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Proyecto_Ing_softw].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Proyecto_Ing_softw]
GO
/****** Object:  Table [dbo].[AtencionMedica]    Script Date: 28/9/2026 23:39:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AtencionMedica](
	[AtencionMedica_ConsultaId] [int] NOT NULL,
	[AtencionMedica_UsuarioId] [int] NOT NULL,
	[AtencionMedica_FechaInicio] [datetime] NOT NULL,
	[AtencionMedica_FechaFin] [datetime] NULL,
	[AtencionMedica_Diagnostico] [varchar](1000) NOT NULL,
	[AtencionMedica_Indicaciones] [varchar](2000) NULL,
	[AtencionMedica_Destino] [varchar](50) NOT NULL,
	[DVH] [bigint] NULL,
	[AtencionMedica_Id] [int] NOT NULL,
 CONSTRAINT [PK_AtencionMedica] PRIMARY KEY CLUSTERED 
(
	[AtencionMedica_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bitacora]    Script Date: 28/9/2026 23:39:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora](
	[FechaUTC] [datetime2](7) NOT NULL,
	[Usuario_ID] [int] NOT NULL,
	[Usuario_Username] [nvarchar](150) NULL,
	[Accion] [nvarchar](100) NULL,
	[Mensaje] [nvarchar](500) NULL,
	[Detalle] [nvarchar](max) NULL,
	[Origen] [nvarchar](150) NULL,
	[Host] [nvarchar](100) NULL,
	[IP] [varchar](45) NULL,
	[Severidad] [int] NULL,
 CONSTRAINT [PK_Bitacora] PRIMARY KEY CLUSTERED 
(
	[FechaUTC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Consulta]    Script Date: 28/9/2026 23:39:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Consulta](
	[Consulta_Id] [int] IDENTITY(1,1) NOT NULL,
	[Consulta_PacienteId] [int] NOT NULL,
	[EstadoConsulta_Id] [int] NOT NULL,
	[Consulta_FechaIngreso] [datetime] NOT NULL,
	[Consulta_MotivoIngreso] [varchar](500) NOT NULL,
	[Consulta_UsuarioId] [int] NOT NULL,
	[DVH] [bigint] NULL,
 CONSTRAINT [PK_Consulta] PRIMARY KEY CLUSTERED 
(
	[Consulta_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DVV]    Script Date: 28/9/2026 23:39:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DVV](
	[ID] [int] NOT NULL,
	[Nombre_tabla] [varchar](50) NULL,
	[Suma] [numeric](18, 0) NULL,
 CONSTRAINT [PK_DVV] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 28/9/2026 23:39:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[Empleado_Id] [int] IDENTITY(1,1) NOT NULL,
	[EmpleadoUsuario_Id] [int] NULL,
	[Empleado_Matricula] [varchar](50) NULL,
	[Empleado_TipoEmpleadoId] [int] NOT NULL,
	[Empleado_Activo] [bit] NOT NULL,
 CONSTRAINT [PK_Empleado] PRIMARY KEY CLUSTERED 
(
	[Empleado_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadoConsulta]    Script Date: 28/9/2026 23:39:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoConsulta](
	[EstadoConsulta_Id] [int] NOT NULL,
	[EstadoConsulta_Nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_EstadosConsulta] PRIMARY KEY CLUSTERED 
(
	[EstadoConsulta_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Etiqueta]    Script Date: 28/9/2026 23:39:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Etiqueta](
	[Etiqueta_Clave] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Etiqueta] PRIMARY KEY CLUSTERED 
(
	[Etiqueta_Clave] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EvaluacionEnfermeria]    Script Date: 28/9/2026 23:39:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EvaluacionEnfermeria](
	[EvaluacionEnfermeria_ConsultaId] [int] NOT NULL,
	[EvaluacionEnfermeria_FrecuenciaCardiaca] [int] NULL,
	[EvaluacionEnfermeria_Temperatura] [decimal](4, 1) NULL,
	[EvaluacionEnfermeria_SaturacionOxigeno] [int] NULL,
	[EvaluacionEnfermeria_PresionArterial] [varchar](15) NULL,
	[EvaluacionEnfermeria_SintomasObservados] [varchar](1000) NULL,
	[EvaluacionEnfermeria_EsConsultaAdministrativa] [bit] NOT NULL,
	[NivelPrioridad_IdSugerido] [int] NOT NULL,
	[NivelPrioridad_IdFinal] [int] NOT NULL,
	[EvaluacionEnfermeria_JustificacionCambio] [varchar](500) NULL,
	[Usuario_Id] [int] NOT NULL,
	[EvaluacionEnfermeria_FechaEvaluacion] [datetime] NOT NULL,
	[DVH] [bigint] NULL,
	[EvaluacionEnfermeria_Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_EvaluacionEnfermeria] PRIMARY KEY CLUSTERED 
(
	[EvaluacionEnfermeria_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Familia_Hijo]    Script Date: 28/9/2026 23:39:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Familia_Hijo](
	[Familia_ID] [int] NOT NULL,
	[Hijo_ID] [int] NOT NULL,
 CONSTRAINT [PK_Familia_Hijo] PRIMARY KEY CLUSTERED 
(
	[Familia_ID] ASC,
	[Hijo_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistoriaClinica]    Script Date: 28/9/2026 23:39:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistoriaClinica](
	[HistoriaClinica_Id] [int] IDENTITY(1,1) NOT NULL,
	[Paciente_Id] [int] NOT NULL,
	[HistoriaClinica_FechaAtencion] [datetime] NOT NULL,
	[HistoriaClinica_Antecedente] [varchar](250) NOT NULL,
	[HistoriaClinica_Observacion] [varchar](1000) NULL,
	[HistoriaClinica_Alergias] [varchar](1000) NULL,
	[DVH] [int] NULL,
 CONSTRAINT [PK_HistoriaClinica] PRIMARY KEY CLUSTERED 
(
	[HistoriaClinica_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Historial]    Script Date: 28/9/2026 23:39:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Historial](
	[Historial_Id] [int] IDENTITY(1,1) NOT NULL,
	[Usuario_Id] [int] NOT NULL,
	[Historial_mail] [varchar](50) NULL,
	[Historial_fecha] [datetime] NULL,
 CONSTRAINT [PK_Historial] PRIMARY KEY CLUSTERED 
(
	[Historial_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Idioma]    Script Date: 28/9/2026 23:39:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Idioma](
	[Idioma_Id] [int] IDENTITY(1,1) NOT NULL,
	[Idioma_Nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Idioma] PRIMARY KEY CLUSTERED 
(
	[Idioma_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NivelPrioridad]    Script Date: 28/9/2026 23:39:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NivelPrioridad](
	[NivelPrioridad_Id] [int] NOT NULL,
	[NivelPrioridad_Nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_NivelPrioridad] PRIMARY KEY CLUSTERED 
(
	[NivelPrioridad_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Paciente]    Script Date: 28/9/2026 23:39:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paciente](
	[Paciente_Id] [int] IDENTITY(1,1) NOT NULL,
	[Paciente_dni] [int] NULL,
	[Paciente_apellido] [varchar](max) NULL,
	[Paciente_nombre] [varchar](max) NULL,
	[Paciente_fecha_nac] [datetime] NULL,
	[Paciente_telefono] [int] NULL,
	[DVH] [int] NULL,
 CONSTRAINT [PK_Pacientes] PRIMARY KEY CLUSTERED 
(
	[Paciente_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Perfil]    Script Date: 28/9/2026 23:39:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Perfil](
	[Perfil_ID] [int] IDENTITY(1,1) NOT NULL,
	[Perfil_Nombre] [varchar](50) NULL,
	[Perfil_Tag] [varchar](50) NULL,
	[Perfil_Tipo] [varchar](50) NULL,
 CONSTRAINT [PK_Perfil] PRIMARY KEY CLUSTERED 
(
	[Perfil_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoEmpleado]    Script Date: 28/9/2026 23:39:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoEmpleado](
	[TipoEmpleado_Id] [int] NOT NULL,
	[TipoEmpleado_Nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TipoEmpleado] PRIMARY KEY CLUSTERED 
(
	[TipoEmpleado_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Traduccion]    Script Date: 28/9/2026 23:39:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Traduccion](
	[Traduccion_IdiomaId] [int] NOT NULL,
	[Traduccion_EtiquetaClave] [varchar](100) NOT NULL,
	[Traduccion_Texto] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Traduccion] PRIMARY KEY CLUSTERED 
(
	[Traduccion_IdiomaId] ASC,
	[Traduccion_EtiquetaClave] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 28/9/2026 23:39:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Usuario_ID] [int] IDENTITY(1,1) NOT NULL,
	[Usuario_Username] [nvarchar](max) NULL,
	[Usuario_Password] [nvarchar](max) NULL,
	[Usuario_Mail] [nvarchar](50) NULL,
	[Usuario_IntentosFallidos] [numeric](18, 0) NULL,
	[Usuario_Bloqueado] [bit] NULL,
	[DVH] [bigint] NULL,
	[Usuario_IdiomaDefault] [int] NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[Usuario_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario_Perfil]    Script Date: 28/9/2026 23:39:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario_Perfil](
	[Usuario_ID] [int] NOT NULL,
	[Perfil_ID] [int] NOT NULL,
 CONSTRAINT [PK_Usuario_Perfil] PRIMARY KEY CLUSTERED 
(
	[Usuario_ID] ASC,
	[Perfil_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Bitacora] ([FechaUTC], [Usuario_ID], [Usuario_Username], [Accion], [Mensaje], [Detalle], [Origen], [Host], [IP], [Severidad]) VALUES (CAST(N'2026-05-24T03:26:13.0000000' AS DateTime2), 1, N'test', N'Ingreso Exitoso', N'Se blanquea intentos fallidos', N'', N'SistemaTurnos', N'WIN-O7CAF1FNCVK', N'127.0.0.1', 1)
INSERT [dbo].[Bitacora] ([FechaUTC], [Usuario_ID], [Usuario_Username], [Accion], [Mensaje], [Detalle], [Origen], [Host], [IP], [Severidad]) VALUES (CAST(N'2026-05-24T03:26:27.0000000' AS DateTime2), 1, N'test', N'Se cierra sesion', N'', N'', N'SistemaTurnos', N'WIN-O7CAF1FNCVK', N'127.0.0.1', 2)
INSERT [dbo].[Bitacora] ([FechaUTC], [Usuario_ID], [Usuario_Username], [Accion], [Mensaje], [Detalle], [Origen], [Host], [IP], [Severidad]) VALUES (CAST(N'2026-05-24T12:55:56.0000000' AS DateTime2), 1, N'test', N'Ingreso Exitoso', N'Se blanquea intentos fallidos', N'', N'SistemaTurnos', N'WIN-O7CAF1FNCVK', N'127.0.0.1', 3)
GO
SET IDENTITY_INSERT [dbo].[Consulta] ON 

INSERT [dbo].[Consulta] ([Consulta_Id], [Consulta_PacienteId], [EstadoConsulta_Id], [Consulta_FechaIngreso], [Consulta_MotivoIngreso], [Consulta_UsuarioId], [DVH]) VALUES (2, 1, 3, CAST(N'2026-09-20T12:09:26.173' AS DateTime), N'tos', 1, NULL)
INSERT [dbo].[Consulta] ([Consulta_Id], [Consulta_PacienteId], [EstadoConsulta_Id], [Consulta_FechaIngreso], [Consulta_MotivoIngreso], [Consulta_UsuarioId], [DVH]) VALUES (3, 2, 4, CAST(N'2026-09-20T19:33:16.707' AS DateTime), N'fiebre', 1, NULL)
SET IDENTITY_INSERT [dbo].[Consulta] OFF
GO
INSERT [dbo].[DVV] ([ID], [Nombre_tabla], [Suma]) VALUES (1, N'Usuario', CAST(2019042 AS Numeric(18, 0)))
GO
INSERT [dbo].[EstadoConsulta] ([EstadoConsulta_Id], [EstadoConsulta_Nombre]) VALUES (1, N'En Espera Enfermeria')
INSERT [dbo].[EstadoConsulta] ([EstadoConsulta_Id], [EstadoConsulta_Nombre]) VALUES (2, N'En Enfermeria')
INSERT [dbo].[EstadoConsulta] ([EstadoConsulta_Id], [EstadoConsulta_Nombre]) VALUES (3, N'En Espera Atencion Medica')
GO
INSERT [dbo].[Etiqueta] ([Etiqueta_Clave]) VALUES (N'AdministrarPerfilesForm')
INSERT [dbo].[Etiqueta] ([Etiqueta_Clave]) VALUES (N'AdmPerfEditEditar')
INSERT [dbo].[Etiqueta] ([Etiqueta_Clave]) VALUES (N'AdmPerfEditEliminar')
GO
SET IDENTITY_INSERT [dbo].[EvaluacionEnfermeria] ON 

SET IDENTITY_INSERT [dbo].[EvaluacionEnfermeria] OFF
GO
INSERT [dbo].[Familia_Hijo] ([Familia_ID], [Hijo_ID]) VALUES (7, 9)
INSERT [dbo].[Familia_Hijo] ([Familia_ID], [Hijo_ID]) VALUES (15, 2)
INSERT [dbo].[Familia_Hijo] ([Familia_ID], [Hijo_ID]) VALUES (15, 3)
GO
SET IDENTITY_INSERT [dbo].[Historial] ON 

INSERT [dbo].[Historial] ([Historial_Id], [Usuario_Id], [Historial_mail], [Historial_fecha]) VALUES (1, 5, N'prueba@prueba.com', CAST(N'2026-07-09T11:31:24.630' AS DateTime))
INSERT [dbo].[Historial] ([Historial_Id], [Usuario_Id], [Historial_mail], [Historial_fecha]) VALUES (2, 5, N'test@prueba.com', CAST(N'2026-07-09T11:31:57.857' AS DateTime))
INSERT [dbo].[Historial] ([Historial_Id], [Usuario_Id], [Historial_mail], [Historial_fecha]) VALUES (3, 5, N'mail@noExiste.com', CAST(N'2026-07-09T11:34:34.107' AS DateTime))
SET IDENTITY_INSERT [dbo].[Historial] OFF
GO
SET IDENTITY_INSERT [dbo].[Idioma] ON 

INSERT [dbo].[Idioma] ([Idioma_Id], [Idioma_Nombre]) VALUES (1, N'Español')
INSERT [dbo].[Idioma] ([Idioma_Id], [Idioma_Nombre]) VALUES (2, N'English')
SET IDENTITY_INSERT [dbo].[Idioma] OFF
GO
INSERT [dbo].[NivelPrioridad] ([NivelPrioridad_Id], [NivelPrioridad_Nombre]) VALUES (1, N'Emergencia')
INSERT [dbo].[NivelPrioridad] ([NivelPrioridad_Id], [NivelPrioridad_Nombre]) VALUES (2, N'Muy Urgente')
INSERT [dbo].[NivelPrioridad] ([NivelPrioridad_Id], [NivelPrioridad_Nombre]) VALUES (3, N'Urgente')
GO
SET IDENTITY_INSERT [dbo].[Paciente] ON 

INSERT [dbo].[Paciente] ([Paciente_Id], [Paciente_dni], [Paciente_apellido], [Paciente_nombre], [Paciente_fecha_nac], [Paciente_telefono], [DVH]) VALUES (1, 2222, N'Gomez', N'MAria', CAST(N'2026-09-07T11:37:11.000' AS DateTime), 333, NULL)
INSERT [dbo].[Paciente] ([Paciente_Id], [Paciente_dni], [Paciente_apellido], [Paciente_nombre], [Paciente_fecha_nac], [Paciente_telefono], [DVH]) VALUES (2, 666, N'pepe', N'PersonaNueva', CAST(N'2025-09-30T19:32:37.000' AS DateTime), 555, NULL)
SET IDENTITY_INSERT [dbo].[Paciente] OFF
GO
SET IDENTITY_INSERT [dbo].[Perfil] ON 

INSERT [dbo].[Perfil] ([Perfil_ID], [Perfil_Nombre], [Perfil_Tag], [Perfil_Tipo]) VALUES (1, N'abm_perfiles', N'GESTION_PERFILES', N'Patente')
INSERT [dbo].[Perfil] ([Perfil_ID], [Perfil_Nombre], [Perfil_Tag], [Perfil_Tipo]) VALUES (2, N'desbloquearUsuario', N'DESBLOQUEAR_USUARIO', N'Patente')
INSERT [dbo].[Perfil] ([Perfil_ID], [Perfil_Nombre], [Perfil_Tag], [Perfil_Tipo]) VALUES (3, N'crear_usuarios', N'CREAR_USUARIO', N'Patente')
SET IDENTITY_INSERT [dbo].[Perfil] OFF
GO
INSERT [dbo].[TipoEmpleado] ([TipoEmpleado_Id], [TipoEmpleado_Nombre]) VALUES (1, N'Médico')
INSERT [dbo].[TipoEmpleado] ([TipoEmpleado_Id], [TipoEmpleado_Nombre]) VALUES (2, N'Enfermero')
INSERT [dbo].[TipoEmpleado] ([TipoEmpleado_Id], [TipoEmpleado_Nombre]) VALUES (3, N'Administrativo')
GO
INSERT [dbo].[Traduccion] ([Traduccion_IdiomaId], [Traduccion_EtiquetaClave], [Traduccion_Texto]) VALUES (1, N'AdministrarPerfilesForm', N'Administrar Perfiles')
INSERT [dbo].[Traduccion] ([Traduccion_IdiomaId], [Traduccion_EtiquetaClave], [Traduccion_Texto]) VALUES (1, N'AdmPerfEditEditar', N'Editar Perfil')
INSERT [dbo].[Traduccion] ([Traduccion_IdiomaId], [Traduccion_EtiquetaClave], [Traduccion_Texto]) VALUES (1, N'AdmPerfEditEliminar', N'Eliminar Perfil')
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([Usuario_ID], [Usuario_Username], [Usuario_Password], [Usuario_Mail], [Usuario_IntentosFallidos], [Usuario_Bloqueado], [DVH], [Usuario_IdiomaDefault]) VALUES (1, N'test', N'9f86d081884c7d659a2feaa0c55ad015a3bf4f1b2b0b822cd15d6c15b0f00a08', N'', CAST(0 AS Numeric(18, 0)), 0, 215081, 0)
INSERT [dbo].[Usuario] ([Usuario_ID], [Usuario_Username], [Usuario_Password], [Usuario_Mail], [Usuario_IntentosFallidos], [Usuario_Bloqueado], [DVH], [Usuario_IdiomaDefault]) VALUES (2, N'prueba', N'b89eaac7e61417341b710b727768294d0e6a277b4c9730e3fec2584ec6754c0d', N'mail', CAST(1 AS Numeric(18, 0)), 0, 252533, 0)
INSERT [dbo].[Usuario] ([Usuario_ID], [Usuario_Username], [Usuario_Password], [Usuario_Mail], [Usuario_IntentosFallidos], [Usuario_Bloqueado], [DVH], [Usuario_IdiomaDefault]) VALUES (3, N'rr', N'b696a583e7cf17b3ebecda1076f62bdfa67710bc8d74ca75a89e81b67f137e5c', N'ana.martinez@outlook.com', CAST(1 AS Numeric(18, 0)), 0, 415316, 0)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
INSERT [dbo].[Usuario_Perfil] ([Usuario_ID], [Perfil_ID]) VALUES (1, 24)
INSERT [dbo].[Usuario_Perfil] ([Usuario_ID], [Perfil_ID]) VALUES (5, 18)
INSERT [dbo].[Usuario_Perfil] ([Usuario_ID], [Perfil_ID]) VALUES (7, 20)
GO
/****** Object:  Index [UQ_Empleado_Usuario]    Script Date: 28/9/2026 23:39:26 ******/
ALTER TABLE [dbo].[Empleado] ADD  CONSTRAINT [UQ_Empleado_Usuario] UNIQUE NONCLUSTERED 
(
	[EmpleadoUsuario_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AtencionMedica] ADD  CONSTRAINT [DF__AtencionM__Atenc__503BEA1C]  DEFAULT (getdate()) FOR [AtencionMedica_FechaInicio]
GO
ALTER TABLE [dbo].[Consulta] ADD  DEFAULT ((1)) FOR [EstadoConsulta_Id]
GO
ALTER TABLE [dbo].[Consulta] ADD  DEFAULT (getdate()) FOR [Consulta_FechaIngreso]
GO
ALTER TABLE [dbo].[Empleado] ADD  DEFAULT ((1)) FOR [Empleado_Activo]
GO
ALTER TABLE [dbo].[EvaluacionEnfermeria] ADD  CONSTRAINT [DF__Evaluacio__Evalu__489AC854]  DEFAULT ((0)) FOR [EvaluacionEnfermeria_EsConsultaAdministrativa]
GO
ALTER TABLE [dbo].[EvaluacionEnfermeria] ADD  CONSTRAINT [DF__Evaluacio__Evalu__498EEC8D]  DEFAULT (getdate()) FOR [EvaluacionEnfermeria_FechaEvaluacion]
GO
ALTER TABLE [dbo].[HistoriaClinica] ADD  CONSTRAINT [DF__HistoriaC__Histo__5D95E53A]  DEFAULT (getdate()) FOR [HistoriaClinica_FechaAtencion]
GO
ALTER TABLE [dbo].[Bitacora]  WITH CHECK ADD  CONSTRAINT [FK_Bitacora_Usuario] FOREIGN KEY([Usuario_ID])
REFERENCES [dbo].[Usuario] ([Usuario_ID])
GO
ALTER TABLE [dbo].[Bitacora] CHECK CONSTRAINT [FK_Bitacora_Usuario]
GO
ALTER TABLE [dbo].[Consulta]  WITH CHECK ADD  CONSTRAINT [FK_Consulta_EstadosConsulta] FOREIGN KEY([EstadoConsulta_Id])
REFERENCES [dbo].[EstadoConsulta] ([EstadoConsulta_Id])
GO
ALTER TABLE [dbo].[Consulta] CHECK CONSTRAINT [FK_Consulta_EstadosConsulta]
GO
ALTER TABLE [dbo].[Consulta]  WITH CHECK ADD  CONSTRAINT [FK_Consulta_Paciente] FOREIGN KEY([Consulta_PacienteId])
REFERENCES [dbo].[Paciente] ([Paciente_Id])
GO
ALTER TABLE [dbo].[Consulta] CHECK CONSTRAINT [FK_Consulta_Paciente]
GO
ALTER TABLE [dbo].[Consulta]  WITH CHECK ADD  CONSTRAINT [FK_Consulta_Usuario] FOREIGN KEY([Consulta_UsuarioId])
REFERENCES [dbo].[Usuario] ([Usuario_ID])
GO
ALTER TABLE [dbo].[Consulta] CHECK CONSTRAINT [FK_Consulta_Usuario]
GO
ALTER TABLE [dbo].[Empleado]  WITH CHECK ADD  CONSTRAINT [FK_Empleado_TipoEmpleado] FOREIGN KEY([Empleado_TipoEmpleadoId])
REFERENCES [dbo].[TipoEmpleado] ([TipoEmpleado_Id])
GO
ALTER TABLE [dbo].[Empleado] CHECK CONSTRAINT [FK_Empleado_TipoEmpleado]
GO
ALTER TABLE [dbo].[Empleado]  WITH CHECK ADD  CONSTRAINT [FK_Empleado_Usuario] FOREIGN KEY([EmpleadoUsuario_Id])
REFERENCES [dbo].[Usuario] ([Usuario_ID])
GO
ALTER TABLE [dbo].[Empleado] CHECK CONSTRAINT [FK_Empleado_Usuario]
GO
ALTER TABLE [dbo].[Familia_Hijo]  WITH CHECK ADD  CONSTRAINT [FK_Familia_Hijo_Perfil] FOREIGN KEY([Familia_ID])
REFERENCES [dbo].[Perfil] ([Perfil_ID])
GO
ALTER TABLE [dbo].[Familia_Hijo] CHECK CONSTRAINT [FK_Familia_Hijo_Perfil]
GO
ALTER TABLE [dbo].[Familia_Hijo]  WITH CHECK ADD  CONSTRAINT [FK_Familia_Hijo_Perfil1] FOREIGN KEY([Hijo_ID])
REFERENCES [dbo].[Perfil] ([Perfil_ID])
GO
ALTER TABLE [dbo].[Familia_Hijo] CHECK CONSTRAINT [FK_Familia_Hijo_Perfil1]
GO
ALTER TABLE [dbo].[HistoriaClinica]  WITH CHECK ADD  CONSTRAINT [FK_HistoriaClinica_Paciente] FOREIGN KEY([Paciente_Id])
REFERENCES [dbo].[Paciente] ([Paciente_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HistoriaClinica] CHECK CONSTRAINT [FK_HistoriaClinica_Paciente]
GO
ALTER TABLE [dbo].[Traduccion]  WITH CHECK ADD  CONSTRAINT [FK_Traduccion_Etiqueta] FOREIGN KEY([Traduccion_EtiquetaClave])
REFERENCES [dbo].[Etiqueta] ([Etiqueta_Clave])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Traduccion] CHECK CONSTRAINT [FK_Traduccion_Etiqueta]
GO
ALTER TABLE [dbo].[Traduccion]  WITH CHECK ADD  CONSTRAINT [FK_Traduccion_Idioma] FOREIGN KEY([Traduccion_IdiomaId])
REFERENCES [dbo].[Idioma] ([Idioma_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Traduccion] CHECK CONSTRAINT [FK_Traduccion_Idioma]
GO
ALTER TABLE [dbo].[Usuario_Perfil]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Perfil_Perfil] FOREIGN KEY([Perfil_ID])
REFERENCES [dbo].[Perfil] ([Perfil_ID])
GO
ALTER TABLE [dbo].[Usuario_Perfil] CHECK CONSTRAINT [FK_Usuario_Perfil_Perfil]
GO
ALTER TABLE [dbo].[Usuario_Perfil]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Perfil_Usuario] FOREIGN KEY([Usuario_ID])
REFERENCES [dbo].[Usuario] ([Usuario_ID])
GO
ALTER TABLE [dbo].[Usuario_Perfil] CHECK CONSTRAINT [FK_Usuario_Perfil_Usuario]
GO
/****** Object:  StoredProcedure [dbo].[sp_DVV_Operaciones]    Script Date: 28/9/2026 23:39:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DVV_Operaciones]
    @Accion VARCHAR(20),       -- 'SELECT' o 'UPDATE'
    @NombreTabla VARCHAR(100),
    @Suma VARCHAR(255) = NULL  -- Parámetro opcional (por defecto NULL)
AS
BEGIN
    SET NOCOUNT ON;

    -- ==========================================
    -- ACCIÓN: SELECCIONAR EL DVV DE UNA TABLA
    -- ==========================================
    IF @Accion = 'SELECT'
    BEGIN
        SELECT TOP 1 
            ID, 
            Nombre_tabla, 
            Suma
        FROM DVV 
        WHERE Nombre_tabla = @NombreTabla;
    END

    -- ==========================================
    -- ACCIÓN: ACTUALIZAR LA SUMA DEL DVV
    -- ==========================================
    ELSE IF @Accion = 'UPDATE'
    BEGIN
        -- Verificación básica de seguridad
        IF @Suma IS NULL
        BEGIN
            RAISERROR('El parámetro @Suma no puede ser NULL al realizar una actualización.', 16, 1);
            RETURN;
        END

        UPDATE DVV 
        SET Suma = @Suma 
        WHERE Nombre_tabla = @NombreTabla;

        -- Retorna la cantidad de filas afectadas para la capa de datos en C#
        SELECT @@ROWCOUNT AS FilasAfectadas;
    END
    
    -- ACCIÓN NO RECONOCIDA
    ELSE
    BEGIN
        RAISERROR('Acción no válida. Utilice ''SELECT'' o ''UPDATE''.', 16, 1);
    END
END;
GO
USE [master]
GO
